server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://wheelchacha-db.cxuke0mqavt9.ap-northeast-2.rds.amazonaws.com/wheelchacha
    username: admin
    password: say1234!
  jpa:
    show-sql: true
    hibernate.ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  #jap:
  #  defer-datasource-initialization: true
  #  show-sql: true
  #  hibernate:
  #   ddl-auto: create
  #    # ddl-auto: update
  #  properties:
  #    hibernate:
  #      jdbc:
  #        lob:
  #          non_contextual_creation: true
  #      format_sql: true
  #      show_sql: true

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: TRACE
            # sql: DEBUG


